#layout-menu{
background: #a4c0f4; <!-- pink; #c4e3ed; ****  BACKGROUND FOR MENU-->
	border: 0px solid #dddddd;
	padding-top: 1em; 
	padding-left: 8px;
	padding-right: 8px;
	font-size: 0.95em; 
	width: auto;
	white-space: nowrap;
	padding-bottom: 1em;
    text-align: left;
    vertical-align: top;
}

#layout-content{
	padding-top: 1.0em;
	padding-left: 2.0em;
	padding-right: 2.0em;
	border: none;
	background: silver;
	text-align: left;
	vertical-align: top;
	font-size: 1em;
	
}


body{
	background: silver;
}
#layout-menu a:hover{
	text-decoration: none;
}

#layout-menu td {
		background: #f4f4f4;
		vertical-align: top;
}

div.menu-category{
	border-bottom: 1px solid gray;
	
}

div.article-header{
	
}
