html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #000; /* fills empty space */
}
