#layout-menu{
background: #a4c0f4; <!-- pink; #c4e3ed; ****  BACKGROUND FOR MENU-->
	border: 0px solid #dddddd;
	padding-top: 1em; 
	padding-left: 8px;
	padding-right: 8px;
	font-size: 0.95em; 
	width: auto;
	white-space: nowrap;
padding-bottom: 1em;
    text-align: left;
    vertical-align: top;
}
