html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-image: url("construction.svg"); /* works with SVG */
  background-size: cover;      /* fills screen */
  background-position: center; /* centers image */
  background-repeat: no-repeat;
}
